---
import "../../styles/global.css";
---

<section class="vertical-landing">
  <slot />
</section>

<style>
  @import "../../styles/global.css";

  .vertical-landing {
    min-height: 100svh;
    width: 100%;
    max-width: 75rem; /* 1200px */
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  @media (max-width: 768px) {
    .vertical-landing {
      padding: 2rem 1rem;
      gap: 3rem;
    }
  }
</style>
